body,html{
    margin: 0;
    padding: 0;
    background-color: rgb(224, 125, 224);
    font-family: cursive;
}

.header{
min-height: 9vmin;
background-color: rgb(147, 20, 147);
display: flex;
}

.projects, .about{
    margin-right: 10vmin;
    text-decoration: none;
}

.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    max-height:10vmin; 
    min-height: 9vmin;
    margin:.5vmin; 
}

img{
    max-width:50%; 
    max-height:40vmin; 
}

.project1, .project2, .project3{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(255, 255, 255);

   margin-bottom: 10vmin; 
   margin-top: 10vmin; 
   padding-top:3vmin; 
   padding-bottom:3vmin; 
   margin-right: 20vmin;
   margin-left:20vmin; 
   border-radius:10vmin; 
    
}
